node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# ide files
.vscode
.idea

# debug
dbg.project.json
artifacts-dbg/*
contracts-dbg/*
.openzeppelin/*
